<p id="notice"><%= notice %></p>
<div class="product-show-page">
    <!--Show Product Page-->
      <div class="row row-bike-detail">
        <!--Bike Detail-->
        <div data-product-id="<%= @product.id %>" class="col-md-6 col-12-xs bike-detail">
          <% cache @product do %>
          <div class="product-img-container">
            <%= image_tag(@product.image_url, class: "img-responsive img-zoom") %>
          </div><!--end /.product-img-container-->
        </div><!--end /data-product-id /.col-md-6 col-12-xs bike-detail-->
        <!--Product Description-->
        <div class="col-md-6 col-xs-12 product-description">
          <h2><%= @product.name %></h2>
          <h2><span><%= number_to_currency(@product.price, unit: "$") %></span></h2>
          <div class="average-rating">
            <span>Average Rating</span>
            <div id="average-rating" class="rated" data-score="<%= @product.try(:average_rating) %>">
            </div><!--end/#average-rating .rated-->
          </div><!--end /.average-rating-->
          <p>Colour: <%= @product.colour %></p>
          <p><%= @product.description %></p>
          <% end %><!--end erb cache @product do-->
          <!--Top Review-->
          <% if @product.try(:highest_rating_comment) %>
          <div class="highest-rating">
            <h4>Top Review</h4>
            <div class="rated" data-score="<%= @product.highest_rating_comment.rating %>">
            </div><!-- end /.rated-->
            <span><%= @product.highest_rating_comment.user.first_name %></span>
            <span><small><em> <%= "#{time_ago_in_words(@product.highest_rating_comment.created_at)} ago" %></em></small></span>
            <p><%= @product.highest_rating_comment.body %></p>
          </div><!--end /.highest-rating-->
          <% end %><!--end erb highest_rating_comment-->
          <!--Comments-->
          <div class="col-md-12 comments-container">
            <%= render 'new_comment' %>
            <%= render 'comments' %>
          </div><!--end /.col-md-12 comments-container-->
          <!--Pagination-->
          <div class="col-md-12 pagination-container">
            <%= will_paginate @comments, class: "comment-pagination" %>
          </div><!--end /.col-md-12 pagination-container-->
        </div><!--end /.col-md-6 col-xs-12 product-description-->
      </div><!--end /.row row-bike-detail-->
</div><!--end /.show-page -->
